.Featured {
    width: 100%;
    height: 625px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;    
}

.featured-container {
        width: 100%;
    max-width: 1440px;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.4fr 1.6fr;
    gap: 0px 0px;
    grid-template-areas:
        "featured-header"
        "featured-body";
}

.featured-header {
    grid-area: featured-header;
    color: #000000;
    padding: 0px 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.featured-header h1 {
    font-size: 32px;
    font-weight: 500;
}

.featured-navigation {
    width: 310px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0px 10px;
    border-radius: 30px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
}

.featured-navigation button {
    width: 280px;
    height: 30px;
    margin: 0px 5px;
    border: none;
    border-radius: 15px;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
    background-color: transparent;
    color: #d4d4d4;
}

.featured-navigation button:hover {
    background-color: #d4d4d4b6;
    color: #ffffff;
}

.featured-body {
    grid-area: featured-body;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 80px;
}

@media (max-width:1024px) {
    .featured-header, .featured-body {
        padding: 0 20px;
    }
}

