@import url("../colors.css");

.Header {
    width: 100%;
    height: 930px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-container {
    width: 100%;
    width: 1440px;
    height: 100%;
    display: grid;
    grid-template-columns: 0.85fr 1.15fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas: "header-information header-image";
    padding-left: 80px;
}

.header-banner {
    position: absolute;
    right: 0;
    bottom: 0;
}

.tag-info {
    position: absolute;
    top: 150px;
}

.decoration1 {
    position: absolute;
    top: 0;
    right: -17%;
}

.header-information {
    grid-area: header-information;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: left;
}

.header-image {
    /* width: 755px; */
    grid-area: header-image;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: azure; */
}

.Header h1 {
    max-width: 533px;
    text-transform: uppercase;
    font-size: 64px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.09;
    letter-spacing: -2px;
    text-align: left;
    color: var(--white);
    position: relative;
}

.Header h1 span {
    font-weight: 900;
    background: linear-gradient(
        90deg,
        rgba(96, 0, 222, 1) 30%,
        rgba(0, 255, 255, 1) 70%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header-slider-control {
    width: 200px;
    height: 48px;
    border-radius: 24px;
    -webkit-backdrop-filter: blur(4.5px);
    backdrop-filter: blur(4.5px);
    background-color: rgba(143, 143, 143, 0.4);
    display: grid;
    grid-template-columns: 0.7fr 1.6fr 0.7fr;
    gap: 0px 0px;
    font-size: 24px;
    margin-bottom: 40px;
    align-items: center;
    justify-content: center;
    padding: 0px 10px;
}

.header-button {
    cursor: pointer;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-button:hover {
    color: #8f8f8f;
}

.header-slider-nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-slider-dot {
    border: none;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    cursor: pointer;
    margin: 0px 5px;
}

.header-slider-dot:hover {
    background-color: #8f8f8f;
}

.header-underline {
    position: absolute;
    bottom: -15px;
    left: 0;
}

.Header p {
    width: 50%;
    text-align: left;
    color: #8f8f8f;
    font-weight: 500;
    margin: 40px 0px;
}

.Header p span {
    color: #ffffff;
}

.header-tags {
    width: 100%;
    height: 130px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(50px);
    border-top: 1px solid rgba(143, 143, 143, 0.8);
    border-bottom: 1px solid rgba(143, 143, 143, 0.8);
}

.tags {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tags-mobile {
    display: none;
}

@media (max-width: 1024px) {
    .Header {
        height: 730px;
    }
    .header-container {
        padding-left: 40px;
    }

    .header-image img {
        width: 650px;
    }

    .Header h1 {
        font-size: 56px;
    }

    .decoration1 {
        right: -25%;
    }

    .header-underline {
        width: 260px;
    }
}

@media (max-width: 860px) {
    .tags {
        display: none;
    }

    .tags-mobile {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 460px) {
    .Header {
        height: 1080px;
    }

    .decoration1 {
        display: none;
    }

    .header-container {
        padding-top: 100px;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 0px 0px;
        grid-template-areas: "header-information" "header-image";
    }
    .Header h1 {
        font-size: 52px;
    }

    .header-image img {
        width: 100vw;
    }

    .header-tags {
        height: 80px;
    }
}

@media (max-width: 320px) {
    .Header {
        height: 940px;
    }

    .Header h1 {
        font-size: 48px;
    }

    .Header p {
        width: 80%;
    }

    .header-container {
        padding-left: 20px;
    }
}
