.Tag {
    text-decoration: none;
    color: #ffffff;
    min-width: 50px;
    height: 48px;
    border-radius: 24px;
    background-color: rgba(255, 255, 255, 0.4);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(20px);
    text-transform: uppercase;
    margin: 0px 10px;
    padding: 10px;
}

.tag-button {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}
/* 
@media (max-width: 860px) {
    .Tag {
        height: 30px;
    }
    .Tag span {
        font-size: 10px;
    }
    .tag-button {
        width: 16px;
        height: 16px;
        border-radius: 8px;
        font-size: 8px;
    }
} */

@media (max-width:460px) {
    .Tag {
        max-width: 260px;
    }
    .Tag span {
        font-size: 12px;
    }
}   